@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Medium.woff2") format("woff2"),
    url("./assets/fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Regular.woff2") format("woff2"),
    url("./assets/fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

body {
  margin: 0;
  font: 400 16px sans-serif, "Jost" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}
